<div class="mt-4 alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Alert!</strong> <%= notice %>
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
    ></button>
</div>
