<div class="card mb-3 mt-3">
  <div class="card-header fs-3 fw-bold">
    <%= @user.name %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Email:</strong> <%= @user.email %></li>
    <li class="list-group-item"><strong>Phone:</strong> <%= @user.phone %></li>
  </ul>
</div>

<%= link_to 'Back', friends_path, class: 'btn btn-warning' %>
